.PageHeading {
   padding: 170px 0 80px;
   overflow: hidden;
   // background: green;
}

.container {
   padding: 0 21px;
   // background: #ccc;

   & > .title {
      // background: blueviolet;
      margin-bottom: 30px;
   }

   & > .subTitle {
      letter-spacing: 0.03em;
   }
}
