.QuickFinder {
   overflow: hidden;
   margin-bottom: 1.1rem;
}

.container {
   display: flex;
   flex-wrap: wrap;
   padding: 95px 0 60px;
   background: #262835;
}

.quickFinderItem {
   display: flex;
   gap: 26px;
   // background: #eee;

   width: 25%;
   padding: 50px 25px;
   margin-bottom: 42px;
   cursor: pointer;

   &:hover > .detail {
      & > .title {
         color: var(--primary);
      }

      & > .paragraph {
         color: #fff;
      }
   }

   // tablet
   @media (max-width: 980px) {
      width: 50%;
   }

   // mobile medium
   @media (max-width: 548px) {
      width: 100%;
   }

   & > .detail {
      flex: 1;
      & > .title {
         margin-bottom: 14px;
         transition: var(--standard-duration) ease-in-out;
         // background-color: cyan;
      }

      & > .paragraph {
         margin-bottom: 0;
         transition: 0.3s ease-in-out;
         // background-color: beige;
      }
   }

   & > .icon {
      display: flex;
      justify-content: center;
      width: 48px;
      height: 48px;
      // background-color: blue;

      & > img {
         width: 100%;
         object-fit: contain;
         object-position: top center;
      }
   }
}
